<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书归还</title>
</head>
<link rel="stylesheet" href="static/js_css/css/bootstrap.min.css"/>
<script src="https:/code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js_css/js/bootstrap.min.js"></script>
<body>
    <div th:replace="extracting_pages/base :: head"></div>

    <!--读者搜索框-->
    <div id="reader_search_box">
        <div class="form-inline">
            <table class="table">
                <caption><h2>图书归还</h2></caption>
                <tbody>
                <tr>
                    <td width="550px"><h5><b>读者验证</b></h5></td>
                    <td>
                        <b>读者条形码:</b>
                        <input type="text" name="barcode" placeholder="请输入读者条形码" class="form-control">
                        <button class="btn btn-primary btn-sm btn_query_reader">确认</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--读者信息展示框-->
    <div style="margin-top: -15px" >
        <table class="table select-table table-striped show_reader">
            <tbody style="text-align:right;">
            <tr>
                <td>姓名：</td>
                <td><input id="name"  class="form-control" type="text"  required disabled="disabled"></td>
                <td>性别：</td>
                <td><input id="sex" class="form-control" type="text"  required disabled="disabled"></td>
                <td>读者类型：</td>
                <td><input id="readtype"  class="form-control" type="text"  disabled="disabled"></td>
            </tr>
            <tr>
                <td>证件类型：</td>
                <td><input id="papertype" class="form-control" type="text"  disabled="disabled"></td>
                <td>证件号码：</td>
                <td><input id="paperno" class="form-control" type="text"  disabled="disabled"></td>
                <td>可借数量：</td>
                <td>
                    <div class="input-group">
                        <input id="number" class="form-control" type="text"  disabled="disabled">
                        <span class="input-group-addon">册</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--要借阅的书籍信息-->
    <div id="bookinfo">
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>图书名称</th>
                    <th>借阅时间</th>
                    <th>应还时间</th>
                    <th>出版社</th>
                    <th>图书类型</th>
                    <th>价格(元)</th>
                    <th>归还</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script src="js_css/js/returnofbooks.js"></script>
